*{box-sizing: border-box; margin: 0; padding: 0;}
h2{margin-bottom: 5px;}
.card img{ border-radius: 12px; max-width: 100%;  height: 200px;}
.container{max-width: 1140px; width: 100%; margin: auto; padding: 0 30px;}
.img-card{position: relative; text-align: center; border: 1px solid #f0f0f0; border-radius: 10px; padding: 15px;}
.img-card-shadow{position: absolute; bottom: 0; left: 0; height: 40%; width: 100%; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 99.21%); display: flex; align-items: flex-end; padding: 0 0 10px 10px;}
.img-card span{ color: #FFF; font-size: 20px; font-weight: 700;}
.card h3{padding-left: 10px; margin-top: 10px; font-size: 17px;}
.shimmer{height: 317px; max-width: 258px; width: 100%;    background: linear-gradient(to right, #eee, #fafafa 50%, #eee);
    border-radius: 15px;}
.search{float: right;}
header{background-color: #ff7300; padding: 20px;}
header nav{display: flex; align-items: center;}
header h1 .nav-link{color: #0a0f53; font-size: 20px; margin-right: 20px; padding-bottom: 5px;}
header li{list-style: none; display: inline-block; margin: 0 15px; font-size: 18px;}
.nav-link{color: #FFF; text-decoration: none; font-weight: 500;}
.nav-link.active{color: #0a0f53;}